body {

background:#0b0b0b;
color:#00BFFF;

font-family:sans-serif;

margin:0;

height:100vh;
width:100vw;

display:flex;
justify-content:center;
align-items:center;

overflow:hidden;

}

#container{

transform:rotate(-90deg);

display:flex;
flex-direction:column;

align-items:center;
justify-content:center;

width:100vh;
height:100vw;

}

h1,h2,h3{

margin:5px;
text-align:center;

}

h1{font-size:12vw;}
h2{font-size:6vw;}
h3{font-size:4vw;}

#sun-box{

display:flex;
flex-direction:column;

align-items:center;

background:rgba(0,191,255,0.05);

padding:10px;

border:2px solid #00BFFF;

border-radius:10px;

margin:10px 0;

width:90%;

}

.sun-row{

display:flex;
justify-content:space-between;

width:100%;

margin:5px 0;

}

#row2{
justify-content:center;
}

#energy-bar{

width:100%;

height:8px;

background:rgba(0,191,255,0.2);

border-radius:4px;

overflow:hidden;

}

#energy-fill{
height:100%;
width:0%;
transition:width 0.5s, background 0.5s;
}

/* BOTON LOCALIZACION */

#locationBtn{

position:fixed;

top:20px;
left:20px;

background:#00BFFF;

color:black;

border:none;

padding:10px 15px;

border-radius:8px;

font-weight:bold;

cursor:pointer;

}

/* PANEL BUSQUEDA */

#locationPanel{

position:fixed;

top:60px;
left:20px;

width:260px;

background:black;

border:2px solid #00BFFF;

padding:10px;

}

#cityInput{

width:100%;

padding:6px;

background:#0b0b0b;

color:#00BFFF;

border:1px solid #00BFFF;

}

#cityResults{

max-height:200px;

overflow-y:auto;

margin-top:10px;

}

.cityItem{

padding:6px;

cursor:pointer;

}

.cityItem:hover{

background:#00BFFF;
color:black;

}

.hidden{
display:none;
}
